# Коментар
log.json
# цю папку тримаємо в ігнорі завжди
node_modules/
# глоббінг працює
log-*.json
# ігнорувати приховані файли
.* 
# примусово кажемо що ці приховані файли ми НЕ хочемо ігнорувати
!.gitignore
!.gitkeep

